.recipe {

}

.card {
  display: flex;
}

.recipeHeader {
  margin: 0;

}

.category {
  margin: 0;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.time {
  display: flex;
  align-items: center;
}

.clock {
  width: 36px;
}

.clockIcon {
  width: 100%;
  height: 100%;
}

.serving {
  padding-left: 15px;
}

.photo {
  flex: 0.5;
  padding: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

.ingredients {
  flex: 0.5;
  text-transform: capitalize;
}

.step {
  list-style-type: decimal;
}
