@import "../layout.scss";

$coral: coral;

.recipe {
  padding: 0 20px 0 30px;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.recipeHeader {
  padding: 20px 0 10px;

  font-family: 'Crimson Text', serif;
  font-size: 3.6rem;
}

.category {
  padding: 10px 0;

  color: $coral;
  border-color: lighten($coral, 20%);
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.photo {
  width: 100%;
  height: 66.66%;
}

.image {
  @include size100();
}

.steps {
  padding-top: 30px;
}

@include tablet-portrait-up() {
  .recipe {
    padding: 0 40px;
  }

  .card {
    flex-wrap: nowrap;
  }

  .recipeHeader {
  }

  .photo {
    padding: 10px;
    flex: 0.5;
  }
}

@include tablet-portrait-only() {
  .photo {
    flex: 0.9;
  }

}
