@import "../layout.scss";

@mixin button {
  display: flex;

  padding: 10px 15px;

  cursor: pointer;

  border-radius: 5px;
  outline-width: 0px;
  outline-color: transparent;

  font-size: 1.2rem;

  justify-content: space-around;
  align-items: center;
}

$orange: #f3961c;
$blue: HSL(185, 92%, 37%);

.assistant {
  display: flex;

  padding: 10px 0 10px 15px;

  font-size: 1.2rem;;
}

.robot {
  display: flex;

  width: 28px;

}

.sadRobot {
  width: 45px;

  padding-left: 5px;
}

.icon, .sadIcon {
  cursor: pointer;

  @include size100();
}

.button {
  @include button();

  border: 1px solid $orange;
  background: $orange;
}

.turnoff {
  @include button();
  border: 1px solid $blue;

  background: $blue;
}

.turnoff.hidden {
  visibility: hidden;
}

.text {
  padding-left: 3px;
}

@include tablet-portrait-up() {
  .robot {
    width: 30px;
  }

  .assistant {
    font-size: 1.4rem;
  }

  .button {
    padding: 10px 15px;

    font-size: 1.4rem;
  }

  .turnoff {
    font-size: 1.4rem;

    margin-left: 10px;
  }
}
