@import "../layout.scss";

.assistant {
  display: flex;

  padding: 10px 0 10px 0;

  font-size: 1.2rem;

  flex-wrap: wrap;
  justify-content: flex-start;
}

.robot {
  display: flex;

  width: 28px;

}

.sadRobot {
  width: 45px;
  padding-left: 5px;
}

.icon, .sadIcon {
  cursor: pointer;

  @include size100();
}

.button {
  border: 1px solid $orange;
  background: $orange;

  @include button();
}

.turnoff {
  margin-left: 15px;

  transition: all ease-in 0.2s;

  border: 1px solid $blue;
  background: $blue;

  @include button();
}

.turnoff:disabled {
  cursor: default;

  opacity: 0.6;
  border: 1px solid lighten($blue, 20%);
  background: lighten($blue, 20%);
  .sadIcon {
    opacity: 0.6;
  }
}

.turnoff.hidden {
  visibility: hidden;
}

.text {
  padding-left: 3px;
}

@include tablet-portrait-up() {
  .assistant {
    padding-left: 30px;

    font-size: 1.4rem;

    flex-wrap: nowrap;
  }

  .robot {
    width: 30px;
  }

  .button {
    padding: 10px 15px;

    font-size: 1.4rem;
  }

  .turnoff {
    margin-left: 10px;

    font-size: 1.4rem;
  }
}

@include phone-narrow-only() {
  .assistant {
    flex-direction: column;

    align-items: flex-start;
  }
  .turnoff {
    margin-top: 15px;
    margin-left: 0;
    padding: 5px 10px;
  }
};
