@import "../layout.scss";

.info {
  display: flex;

  padding-top: 10px;

  justify-content: flex-start;
  align-items: center;
}

.time {
  display: flex;

  align-items: center;
}

.clock {
  width: 36px;
}

.clockIcon {
  @include size100();
}

.text {
  padding-left: 5px;
}

.serving {
  display: flex;

  padding-left: 40px;

  align-items: center;
}

.info.card {
  color: #000;

  font-size: 1.1rem;

  .clock {
    width: 18px;
  }

  .text {
    padding-left: 3px;
  }

  .serving {
    padding-left: 15px;
  }
}
