@import "../layout.scss";

.info {
  display: flex;

  padding-top: 10px;

  font-size: 1.2rem;

  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.time {
  display: flex;

  align-items: center;
}

.iconWrap {
  width: 24px;
}

.icon {
  @include size100();
}

.text {
  min-width: 82px;
  padding-left: 5px;
}

.serving {
  display: flex;

  padding-left: 15px;

  align-items: center;
}

.info.card {
  color: #000;

  font-size: 1.1rem;

  .clock {
    width: 18px;
  }

  .text {
    padding-left: 3px;
  }

  .serving {
    padding-left: 15px;
  }
}

@include tablet-portrait-up() {
  .info {
    font-size: 1.4rem;

    flex-wrap: nowrap;
  }

  .clock {
    width: 36px;
  }

  .serving {
    padding-left: 5px;
  }
}
