@import "../layout.scss";

.section {
  flex: 0.5;
}

.heading {
  padding-left: 20px;

  text-align: left;
  text-transform: capitalize;

  font-family: 'Crimson Text', serif;
  font-size: 3rem;
}

.items {
  padding: 10px 0 0 10px;
}

.items.ingredients {
  padding-left: 20px;
}

.items.steps {
  list-style-position: inside;
  .item {
      list-style-type: decimal;
  }
}

.item {
  padding: 7px 0;

  font-size: 1.2rem;
}
